@import "../base/typography";

$font-stack: "Space Mono", monospace;
$text-color: #ffffff;
$card-placeholder-color: #ffffff;
$bg-color: #242424;
$border-color: #ffffff;
$card-color: #2c2c2c;
$card-hover-color: #404040;
$card-inactive-glow-color: #ffffff;
$card-glow-color: rgb(181 255 0);
